<div class="row">
    <div class="col-lg-12">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">You owe me</span>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="#/action/new"><span
                            class="glyphicon glyphicon-home"></span> New</a></li>
                    <li><a data-toggle="modal" data-target="#eventDetailsModal"><span
                            class="glyphicon glyphicon-pencil"></span> Edit event details</a></li>
                    <li><a data-toggle="modal" data-target="#addPersonModal"><span
                            class="glyphicon glyphicon-plus"></span> Add person</a></li>
                    <li class="dropdown" ng-if="data.names.length">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-minus"></span> Remove person <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="name in data.names"><a ng-click="removeName(name)">{{name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
